################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.aps
.vs
_Intermediate
_Builds

*.args.json

/*.exe
.vscode/*
